@inherits LayoutComponentBase

<div class="topbar">
    <a href="/" class="logo">AviaComp</a>
    <NavMenu />
    <ul>
        <li><a href="/about">О нас</a></li>
    </ul>
</div>

<div class="content">
    @Body
</div>
